<strong>Olá {{user}}</strong>

<p>Houve uma nova inscrição no Meetup que você está organizando.</p>

<p>
  <strong>Nome: </strong> {{name}}
  <strong>Email: </strong> {{email}}

  <small>Incrição realizada com sucesso.</small>
</p>
